@import '../utilities/variables';
@import '../utilities/mixins';


// Estilos borde del panel
  
.tablero__todo {
      border-color: var(--todo-panel);
}
  
.tablero__inprogress {
      border-color: var(--inprogress-panel);
}
  
.tablero__toreview {
      border-color: var(--toreview-panel);
}
  
.tablero__done {
      border-color: var(--done-panel);
}

  
.tablero__title{
      @include description-text;
      color: var(--black-text);
}

.tablero__panels {
      display: flex;
      flex-direction: column;
}