@import "../utilities/variables";
@import "../utilities/mixins";

.footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--fondo-footer);
}

.footer__menu{
    display: flex;
    justify-content: space-between; 
}

.menu__opcion {
    @include middle-text();
    color: var(--black-text);
}
