@import '../utilities/mixins';
@import '../utilities/variables';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--fondo-header);
}

.header__titulo {
    @include title-text(700);
    color: var(--black-text);
    margin: 0.1rem;
    padding: 1rem;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.1rem;
    padding: 1rem;
}

.menu__opcion {
    margin: 0.1rem;
    padding: 0.5rem;
    @include middle-text();
    color: var(--black-text);
}

.theme-icon {
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;
    color: var(--black-text);
}
