@import '../utilities/mixins';
@import '../utilities/variables';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--fondo-header);
    padding: 1rem;
}

.header__titulo {
    @include title-text(1500);
    color: var(--black-text);
    letter-spacing: 0.6rem;
    &:active{
        font-size:clamp(1.6rem, 1.8vw, 2rem)
    }
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.menu__opcion {
    @include middle-text();
    color: var(--black-text);
    letter-spacing: 0.2rem;
}

.theme-icon {
    cursor: pointer;
    color: var(--black-text);
}
