.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
  position: relative;
}

.loading__flor {
  width: 10rem;
  height: 10rem;
  animation: girarFlor 5s linear infinite;
}

.loading__texto {
  font-family: $font;
  color: var(--black-text);
}

@keyframes girarFlor {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
