@import '../utilities/variables';
@import '../utilities/mixins';

*{
      box-sizing: border-box;
    
    }
// Estilos borde del panel
  
.panelTask__todo {
      position: relative;
      width: 22vmin;
      height: 20vmin;
      min-width: 100px;
      min-height: 80px;
	background-color:var(--todo-panel);
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      margin-top: -5rem;
}
  
.panelTask__inprogress {
      position: relative;
      width: 22vmin;
      height: 20vmin;
      min-width: 100px;
      min-height: 80px;
	background-color:var(--inprogress-panel);
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      margin-top: -5rem;
}
  
.panelTask__toreview {
      position: relative;
      width: 22vmin;
      height: 20vmin;
      min-width: 100px;
      min-height: 80px;
	background-color:var(--toreview-panel);
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      margin-top: -5rem;
}
  
.panelTask__done {
      position: relative;
      width: 22vmin;
      height: 20vmin;
      min-width: 100px;
      min-height: 80px;
	background-color:var(--done-panel);
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      margin-top: -5rem;
}

.inside {
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      background: var(--fondo-color);
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.panelTask__content {
      @include description-text;
      color: var(--black-text);
      width:100%;
      height:100%;
      padding:0 2rem;
      position:absolute;
      display:flex;
      justify-content:center;
      align-items:center;
      // word-break:break-all;
      text-overflow: ellipsis ellipsis;
}

.panelTask__todo:nth-child(even){
      align-self: flex-end;
}

.panelTask__inprogress:nth-child(even){
      align-self: flex-end;
}

  
.panelTask__toreview:nth-child(even){
      align-self: flex-end;
}

.panelTask__done:nth-child(even){
      align-self: flex-end;
}

@media (max-width: 1600px){
      .panelTask__todo:nth-child(even){
            align-self: center;
            margin: 1rem;
      }
      
      .panelTask__inprogress:nth-child(even){
            align-self: center;
            margin: 1rem;
      }
      
        
      .panelTask__toreview:nth-child(even){
            align-self: center;
            margin: 1rem;
      }
      
      .panelTask__done:nth-child(even){
            align-self: center;
            margin: 1rem;
      }
}

