@import '../utilities/variables';
@import '../utilities/mixins';

*{
      box-sizing: border-box;
    
    }
// Estilos borde del panel
  
.panel__todo {
      position: relative;
	width: 26vmin;
	height: 24vmin;
      min-width: 150px;
      min-height: 120px;
	background-color:var(--todo-panel);
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
  
.panel__inprogress {
      position: relative;
	width: 26vmin;
	height: 24vmin;
      min-width: 150px;
      min-height: 125px;
	background-color:var(--inprogress-panel);
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
  
.panel__toreview {
      position: relative;
	width: 26vmin;
	height: 24vmin;
      min-width: 150px;
      min-height: 125px;
	background-color:var(--toreview-panel);
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
  
.panel__done {
      position: relative;
	width: 26vmin;
	height: 24vmin;
      min-width: 150px;
      min-height: 125px;
	background-color:var(--done-panel);
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.inside {
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      background: var(--fondo-color);
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.panel__content {
      @include description-text;
      color: var(--black-text);
      width:100%;
      height:100%;
      padding:0 2rem;
      position:absolute;
      display:flex;
      justify-content:center;
      align-items:center;
      // word-break:break-all;
      text-overflow: ellipsis ellipsis;
}

.panel__tabIndex:nth-child(even){
      align-self: flex-end;
}

@media (max-width: 1200px){
      .panel__tabIndex:nth-child(even){
            align-self: center;
      }

}
  
.panel__done:active, .panel__inprogress:active, .panel__todo:active, .panel__toreview:active {
      width: 27vmin;
	height: 25vmin;
}
  
.panel__done:hover, .panel__inprogress:hover, .panel__todo:hover, .panel__toreview:hover {
      background-color: #d8b68f;
}