@import '../utilities/variables';
@import '../utilities/mixins';


// Estilos borde del panel
  
.panel__todo {
      border-color: var(--todo-panel);
}
  
.panel__inprogress {
      border-color: var(--inprogress-panel);
}
  
.panel__toreview {
      border-color: var(--toreview-panel);
}
  
.panel__done {
      border-color: var(--done-panel);
}

  
.panel__content {
      @include description-text;
      color: var(--black-text);
}