@import '../utilities/variables';
@import '../base/typo';

// Mixins para estilos de texto
@mixin description-text {
    font-family: $font; 
    font-size: $font-size-description; 
    letter-spacing: $letter-spacing-description; 
}
  
@mixin title-text($weight: 500) {
  font-family: $font;
  font-weight: $weight;
  font-size: $font-size-title;
}

@mixin middle-text($weight: 200) {
  font-family: $font; 
  font-weight: $weight;
  font-size: $font-size-titleMiddle;
  letter-spacing: $letter-spacing-description; 
}

// Ejemplos de uso
// .description {
//   @include description-text;
// }

// h1, h2, h3 {
//   @include title-text(700);
// }

// a {
//   @include middle-text(600);
// }
