/**********MODO LIGHT**********/
:root {
    // Color
    --primary-color: #FFDE81;
    --secondary-color: #CFA97E;
    --black-color: #212121;
    --fondo-color: #fff;

    // Color-Header-Footer
    --fondo-header: #FFDE81;
    --fondo-footer: #fff;

    // Color-texto
    --black-text: #212121;
    --white-text: #fff;

    // Color-paneles
    --todo-panel: #CFCFCF;
    --inprogress-panel: #9D6F3A;
    --toreview-panel: #C49300;
    --done-panel: #FFD145;

    // Color-menu
    --fondo-menu: #F3F2F2;
    --icono-menu: #7E592E;

    // Color-formularios
    --label-color: #666;
    --input-color: #d9d9d9;

    // Color-boton
    --back-confirm: #FFDE81;
    --back-cancel: #CFA97E;
    --stroke-button: #6E6E6E;
}

/**********MODO DARK**********/
[data-theme="dark"] {
    // Color
    --primary-color: #3D3D3D;
    --secondary-color: #3D3D3D;
    --black-color: #212121;
    --fondo-color: #0e0d0d;

    // Color-Header-Footer
    --fondo-header: #212121;
    --fondo-footer: #212121;
    
    // Color-texto
    --black-text: #fff;
    --white-text: #fff;

    // Color-paneles
    --todo-panel: #CFCFCF;
    --inprogress-panel: #AA9883;
    --toreview-panel: #CBB46F;
    --done-panel: #FFDF80;

    // Color-menu
    --fondo-menu: #494949;
    --icono-menu: #fff;

    // Color-formularios
    --label-color: #d9d9d9;
    --input-color: #fff;

    // Color-boton
    --back-confirm: #9E9E9E;
    --back-cancel: #494949;
    --stroke-button: #6E6E6E;
}
