// Color
$primary-color: #FFDE81;
$secundary-color: #CFA97E;
$black-color: #212121;

// Color-texto
$black-text: #212121;
$white-text: #fff;

// Color-paneles
$todo-panel: #CFCFCF;
$inprogress-panel: #9D6F3A;
$toreview-panel: #C49300;
$done-panel: #FFD145;

// Color-menu
$fondo-menu: #F3F2F2;
$icono-menu: #7E592E;

// Color-formularios
$input-color: #666;

// Color-boton
$back-confirm: #FFDE81;
$back-cancel: #CFA97E;
$stroke-button: #6E6E6E;