*{
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%;  
    background-color: var(--fondo-color);
    min-height: 80vh;
}


ul,li {
    list-style: none;
}
  
a {
    text-decoration: none;
    @include middle-text(200);
    color: var(--black-text);
}