@import '../utilities/mixins';
@import '../utilities/variables';

.contenedor__home{
    position:relative;
    background-color: var(--fondo-color);

}

/* PRIMER SECTION */
.home__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__imagen{
    width: 30%;
    margin: 2rem;
}

.logo__frase {
    @include title-text(1500);
    color: var(--black-text);
    text-align: center;
    letter-spacing: 0.8rem;
    margin: 0 1rem;
}


/* SEGUNDO SECTION */
.home__frases {
    display: flex;
    flex-direction: column;
    margin-top: 14rem;
}

.frases__eslogan {
    display: flex;
    justify-content: row;
    align-items: center;
    background-color: var(--black-color);
    width: auto;
    height: 100%;
}

.frases__eslogan1 {
    display: flex;
    justify-content: row;
    flex-direction: row-reverse;
    align-items:center;
    background-color: var(--primary-color);
}

.eslogan__imagen {
    width: 30%;
    height: auto;
    margin: 0 4rem;
}

.eslogan__frase {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.frase__titulo {
    @include middle-text(800);
    color: var(--black-text);
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--white-text);
    letter-spacing: 0.6rem;
}

.frase__parrafo {
    @include description-text();
    color: var(--black-text);
    font-size: 1.2rem;
    color: var(--white-text);
}

.eslogan__frase1 {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.frase__titulo1 {
    @include middle-text(800);
    color: var(--black-text);
    font-size: 2rem;
    margin-bottom: 10px;
    letter-spacing: 0.6rem;
}

.frase__parrafo1 {
    @include description-text();
    color: var(--black-text);
    font-size: 1.2rem;
}


@media (max-width: 840px) {
    .frases__eslogan, .frases__eslogan1 {
        flex-direction: column;
        padding: 2rem;
    }

    .eslogan__imagen {
        width: 40%;
        margin: 0;
    }

}

@media (max-width: 1115px) {
    .eslogan__imagen {
        width: 350px;
    }

    .logo__imagen {
        width: 350px;;
    }
}