@import '../utilities/mixins';
@import '../utilities/variables';

.contenedor__home{
    position:relative;
    background-color: var(--fondo-color);
}

/* PRIMER SECTION */
.home__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__colmena1 {
    position: absolute;
    top: -5%;    
    left: 19%;    
}

.logo__colmena2 {
    margin: 10px;
    position: absolute;
    top: 20%;
    left: 45%;
}

.logo__frase {
    @include title-text(1500);
    color: var(--black-text);
    text-align: center;
    margin-top: 8%;
}


/* SEGUNDO SECTION */
.home__frases {
    display: flex;
    flex-direction: column;
    margin-top: 14rem;
}

.frases__eslogan {
    display: flex;
    align-items: center;
    background-color: var(--black-color);
}

.frases__eslogan1 {
    display: flex;
    flex-direction: row-reverse;
    align-items:center;
    background-color: var(--primary-color);
}

.eslogan__imagen {
    width: 30%;
    height: auto;
    margin: 0 4rem;
}

.eslogan__frase {
    display: flex;
    flex-direction: column;
    padding: 8rem;
}

.frase__titulo {
    @include middle-text(800);
    color: var(--black-text);
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--white-text);
}

.frase__parrafo {
    @include description-text();
    color: var(--black-text);
    font-size: 1.2rem;
    color: var(--white-text);
}

.eslogan__frase1 {
    display: flex;
    flex-direction: column;
    padding: 6rem;
}

.frase__titulo1 {
    @include middle-text(800);
    color: var(--black-text);
    font-size: 2rem;
    margin-bottom: 10px;
}

.frase__parrafo1 {
    @include description-text();
    color: var(--black-text);
    font-size: 1.2rem;
}