@import '../utilities/mixins';
@import '../utilities/variables';

.contenedor__info {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo-color);
    min-height: 900px;
}

/* HEADER */
.info__header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fondo-color);
    padding: 2rem;
}

.contenedor__image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:start;
    gap:2rem;
}

.header__image{
    width: 4%;
    height: auto;
}

.header-proyecto__titulo {
    @include title-text(800);
    color: var(--black-text);
}

.info__proyecto {
    display:flex;
    flex-direction: column;
}

 /* DESCRIPCION PROYECTO */
.proyecto__descripcion {
    padding: 2rem;
    gap: 1rem;
    display:flex;
    flex-direction: column;
    background-color: var(--black-color);
}

.descripcion__titulo {
    @include middle-text(300);
    color: var(--white-text);
}

.descripcion__parrafo {
    @include description-text;
    color: var(--white-text);
}


 /* FECHA PROYECTO */
 .proyecto__fechas {
    padding: 2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--primary-color);
}

.fechas__titulo {
    @include middle-text(300);
    color: var(--black-text);
}

.fechas__parrafo {
    @include middle-text(100);
    color: var(--black-text);
}

 /* ADMINISTRADOR PROYECTO */
.proyecto__administrador {
    padding: 2rem;
    display:flex;
    flex-direction: column;
    justify-content: star;
    gap: 1rem;
    background-color: var(--black-color);
}

.administrador__titulo {
    @include middle-text(300);
    color: var(--white-text);
}

.administrador__nombre {
    @include description-text;
    color: var(--white-text);
}


/* TABLAS DE TAREAS */

.contenedor__tareas{
    display: flex;
    flex-direction: row;
    background-color: var( --fondo-color);
}

@media (max-width: 900px){
    .contenedor__tareas{
        flex-direction: column;
        align-items: center;
    }
}