@import '../utilities/mixins';
@import '../utilities/variables';

/* HEADER */
.header__estado,
.header__prioridad {
    @include description-text();
    color: var(--black-text);
    background-color: var(--fondo-menu);
    border: 1px solid var(--icono-menu);
    border-radius: 10px;
}

.header__image {
    min-width: 30px;
}

/* COMENTARIOS */

.contenedor__comentarios {
    margin: 1rem auto;
    max-width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.comentarios__titulo{
    @include middle-text(700);
    color: var(--black-text);
    margin: 2rem;
}

.comentarios__lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.item__section {
    max-width: 80%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 1rem;
    text-overflow: ellipsis ellipsis;

    &:nth-child(even) {
        align-self: flex-end; 
    }
}

.section__titulo{
    @include middle-text(700);
    margin-bottom: 1rem;
    padding: 1rem;
    color: var(--black-text);
}

.section__mensaje, .section__fecha{
    @include description-text;
    color: var(--black-text);
}

.item__agregar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 2rem;
}

.agregar__titulo{
    @include middle-text(200);
    margin:1rem;
    color: var(--black-text);
}

@media (max-width: 900px) {
    .comentarios__lista {
        flex-direction: column;
    }
    .info__header {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}