@import '../utilities/mixins';
@import '../utilities/variables';

.contenedor__usuario {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo-color);
}

/* CREAR PROYECTO | CONFIGURACIÓN USUARIO */
.usuario__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--fondo-color);
    border-bottom: 1px solid var(--icono-menu);
}


button {
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    border: none;
    background-color: var(--fondo-color);
    @include middle-text(600);
    color: var(--black-text);
    padding: 2rem;
    cursor: pointer;
}



/* INFO USUARIO */
.info__usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fondo-color);
    margin: 2rem;
}

.user__container{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.images__user{
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    object-fit: cover;
}

.images__logo {
    width: 10%;
    height: auto;
    margin-left: -8rem;
    margin-top: -3rem;
}

.usuario__nombre{
    @include title-text(700);
    color: var(--black-text);
    margin: 2rem;
}

/* PROYECTOS USUARIO */

.contenedor__proyectos {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items:start;
    justify-content: space-around;
    gap: 6rem;
    background-color: var(--fondo-color);
}

@media (max-width: 900px){
    .contenedor__proyectos{
          flex-direction: column;
          align-items: center;
    }
}

@media (max-width: 400px) {
    .usuario__lista{
        flex-direction: column;
    }
}

