@import '../utilities/mixins';
@import '../utilities/variables';

.contenedor__usuario {
    display: flex;
    flex-direction: column;
    background-color: var(--fondo-color);
}
/* CREAR PROYECTO | CONFIGURACIÓN USUARIO */
.usuario__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--fondo-color);
}

.lista__opcion {
    @include middle-text(600);
    color: var(--black-text);
}


/* INFO USUARIO */
.info__usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--fondo-color);
}

.usuario__images{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images__user{
    width: 25%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    // aspect-ratio: 4/4;
}

.user__bee {
    display: flex;
    justify-content: column;
    align-items:self-start;
}

.images__logo {
    width: 6%;
    height: auto;
    // bottom: -70px; /* Ajusta para mover hacia arriba o abajo */
    // left: -10px; /* Ajusta para mover hacia la izquierda o derecha */

}

.usuario__nombre{
    @include middle-text(700);
    color: var(--black-text);
}

/* PROYECTOS USUARIO */

.contenedor__proyectos {
    display: flex;
    flex-direction: row;
    background-color: var(--fondo-color);
}

// Estilos borde del panel
  
.panel__todo {
    border-color: var(--todo-panel);
}

.panel__inprogress {
    border-color: var(--inprogress-panel);
}

.panel__toreview {
    border-color: var(--toreview-panel);
}

.panel__done {
    border-color: var(--done-panel);
}
